@page
@model AchareList.UI.Pages.SubCategoryModel
@{
}
<table class="table  table-responsive table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.categories)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Title</td>
                <td><a class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<hr />

