


@*<div class="container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN"
 asp-action = "CreateConfirm"   asp-controller = "SubCategory">
        <div class="form-floating mb-3">
            <input class="form-control" id="عنوان زیر دسته" type="text" placeholder="عنوان زیر دسته" data-sb-validations="required" name = "Title" />
            <label for="عنواندستهبندی">عنوان زیر دسته </label>
            <input class="form-control" type="hidden"  id=" عنوان دسته بندی اصلی" type="text" value = "@mainCategoryId" placeholder="عنوان دسته بندی اصلی" data-sb-validations="required" name = "MainCategoryId" />
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>*@
@{
    //---------------------------------------------------------------
}
@*@{
  ViewData["Title"] = "Create SubCategory";
  Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Create</h1>

@{
    int mainCategoryId = (int)ViewData["mainCategoryId"]  ;
    int i = 0;
}
<div class="container px-5 my-5">
  <h1>Create SubCategory</h1>  

  <form id="contactForm" asp-action="CreateConfirm" asp-controller="SubCategory">
    <div class="form-floating mb-3">
      <input class="form-control" id="title" type="text" placeholder="عنوان زیر دسته" data-sb-validations="required" name="title" />
      <label for="title">عنوان زیر دسته</label>
      <div class="invalid-feedback" data-sb-feedback="title:required">عنوان زیر دسته is required.</div>
    </div>
    <input type="hidden" class="form-control" id="mainCategoryId" value="@mainCategoryId" name="mainCategoryId" />   
    <div class="d-grid">
      <button class="btn btn-primary btn-lg" id="submitButton" type="submit">ایجاد</button>
    </div>
  </form>
</div>

