
@{
    ViewData["Title"] = "Show Customer Profile";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Show Customer Profile</h2>

@model App.Domain.Core.Member.DTOs.CustomerDto

<h2>Edit Profile</h2>

<form asp-action="EditProfile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NCode" class="control-label"></label>
        <input asp-for="NCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Mobile" class="control-label"></label>
        <input asp-for="Mobile" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Street" class="control-label"></label>
        <input asp-for="Street" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CityId" class="control-label"></label>
        <select asp-for="CityId" class="form-control">
            <!-- Populate cities here -->
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label">Profile Image</label>
        <input type="file" asp-for="Image" class="form-control" />

        @if (!string.IsNullOrEmpty(Model.ExistingImageBase64))
        {
            <img width="150" src="@($"data:image/jpeg;base64,{@Model.ExistingImageBase64}")" alt="Profile Image" />
        }
    </div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

