
@*<div class="container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN"
 asp-action = "CreateConfirm"   asp-controller = "Service">
        <div class="form-floating mb-3">
            <input class="form-control" id="عنوان سرویس" type="text" placeholder="عنوان سرویس" data-sb-validations="required" name = "Title" />
            <label for="عنواندستهبندی">عنوان سرویس </label>
            <input class="form-control" type="hidden"  id=" عنوان زیر دسته" type="text" value = "@subCategoryId" placeholder="عنوان زیر دسته" data-sb-validations="required" name = "SubCategoryId" />
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>*@
@{
    //---------------------------------------------------------------
}
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int subCategoryId = (int)ViewData["subCategoryId"];

    int myId = 0;
}
<h1>Create</h1>
<div class="container px-5 my-5">
  <h1>Create Service</h1>  

  <form id="contactForm" asp-action="CreateConfirm" asp-controller="Service">
    <div class="form-floating mb-3">
      <input class="form-control" id="title" type="text" placeholder="عنوان سرویس" data-sb-validations="required" name="title" />
      <label for="title">عنوان سرویس</label>
      <div class="invalid-feedback" data-sb-feedback="title:required">عنوان سرویس is required.</div>
    </div>
    <input type="hidden" class="form-control" id="subCategoryId" value="@subCategoryId" name="subCategoryId" />   <div class="d-grid">
      <button class="btn btn-primary btn-lg" id="submitButton" type="submit">ایجاد</button>
    </div>
  </form>
</div>

