@using App.Domain.Core.OrderAgg.DTOs;
@{
    ViewData["Title"] = "ShowListOfOrders";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@{
    var orders = ViewData["orders"] as List<App.Domain.Core.OrderAgg.DTOs.OrderDto>;
}
<h1>ShowListOfOrders</h1>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Show Bids</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Title</td>
                <form asp-action="GetBidsByOrderId" asp-controller="Custommer" asp-route-orderId="@order.Id">
                    <td><button >مشاهده پیشنهاد ها</button></td>
                </form>
                
            </tr>
        }
    </tbody>
</table>

